:root  {
--Softblue: hsl(215, 51%, 70%);
--Türkis: hsl(178, 100%, 50%);
--Hintergrundfarbe: hsl(217, 54%, 11%);
--Kartenfarbe: hsl(216, 50%, 16%);
--Liniefarbe: hsl(215, 32%, 27%);
font-size: 18px;
font-family: 'Open Sans', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Poppins', sans-serif;
background-color: var(--Hintergrundfarbe) ;
}

#div-box {
    background-color: var(--Kartenfarbe);
    position: relative;
    left: 760px;
    top: 200px;
    height: 550px;
    width: 320px;
    border-radius: 16px;
    box-shadow: 20px 20px 50px black;
    
    
}

.Logo {
    position: absolute;
    left: 25px;
    top: 25px;
    height: 270px;
    width: 270px;
    border-radius: 16px;
    
}
.name {
    color: white;
    position: absolute;
    top: 290px;
    margin-left: 25px;
    font-weight: 400;
}
#div-box > img + p + p {
    color: white;
    position: absolute;
    top: 330px;
    margin-left: 25px;
    font-weight: 300;
    font-size: 14px;
    color: var(--Softblue);
}
#div-box > img + p + p + p > img {
    margin-left: 25px;
    position: absolute;
    top: 410px;
}
.türkise-schrift {
    color: var(--Türkis);
    position: absolute;
    margin-left: 25px;
    top: 392px;
    left: 15px;
    font-size: 16px;
}
.clock  {
    position: absolute;
    top: 410px;
    left: 180px;
    height: 20px;
    width: 18px;

}
.graue-schrift {
    position: absolute;
    top: 392px;
    left: 200px;
    color: var(--Softblue);
    font-size: 16px;
}
#div-box > hr {
    position: absolute;
    top: 450px;
    width: 83%;
    margin-left: 25px;
    margin-right: 28px;
    display: block;
    border: solid var(--Liniefarbe);
    border-width: 1px       ;
}
.profil {
    position: absolute;
    top: 490px;
    left: 24px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: solid white;
    border-width: 1px;
    
}
.creation {
    position: absolute;
    top: 485px;
    left: 75px;
    color: var(--Softblue);
    font-weight: 300;
    font-size: 14px;
}
.creation > span {
    color: white;
}
.name:hover {
    color: var(--Türkis);
    cursor: pointer;
}
span:hover {
    color: var(--Türkis);
    cursor: pointer;
}
.Logo:hover {
    cursor: pointer;
}